[env]
; uncomment and fill in the correct IP the below lines to enable OTA updates
;upload_protocol = espota
;upload_port = 192.168.1.1
upload_flags = --auth=MYPASSWORD ; make sure the password set here is the same as the one used for OTA_PASSWORD below


[secrets]
build_flags = 
    '-D DEVICENAME="ModbusGateway"' ; name of the device on the network
    '-D OTA_PASSWORD="MYPASSWORD"'  ; make sure the password set here is the same as the one used for --auth above
    '-D REMOTE="192.168.1.2"'       ; address of the EM24 meter 
    -D SERIAL_NUMBER=1234567        ; serial number
    -D SLAVE_ID=2                   ; physical address of the LilyGO on the rs-485 bus
